* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
  flex-direction: row;
}

.scc1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  min-height: 100vh;
 
}

.scc1 p {
  font-size: 15px;
  text-align: justify;
  color: rgb(13, 13, 14);
  margin-left: 30px;
  margin-top: 10px;

}

.scc1 .logo {
  background-image: url("images/soften_web-1.png");
  margin-top: 30px;
  width: 450px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 90px;
}

#head1 {
  line-height: 1.2;
  background: linear-gradient(to right, #ffffff, #00b7ff, #1e98fbd5, #459de5d7, #ffffff);
  font-size: clamp(36px, 7vw, 120px);
  margin-left: auto;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 5.5s linear infinite;
  font-weight: 800;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
#head2 {
  line-height: .7;
  background: linear-gradient(to right, #ebe8e8, #9fa1a2, #000000, #5c5a5a, #ebe8e8);
  font-size: clamp(36px, 7vw, 120px);
  margin-left: auto;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 5.5s linear infinite;
  padding: 0 0 10px 0;
  font-weight: 800;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.div1 {
  display: flex;
  width: 100%;
  max-width: 750px;
  height: 550px;
  background-image: url("images/stud.jpg");
  background-size: cover;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 50px;

  animation: pop 5s linear;
  animation-timeline: view();
 animation-range: entry 0% cover;
}
@keyframes pop{
    from{
      scale: 0.5;
      transform: translateX(-100px);
    }
    to{
      scale: 1;
       transform: translateX(0px);
    }
}

.right-side {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  width: 40%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  z-index: 10;
  box-sizing: border-box;
}


.container {
 
  width: 100%;
  height: 40%;
  max-width: 450px;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container h1 {
  color: #0095ff87;
  width: 100%;
  padding-bottom: 30px;
  font-size: 45px;
  padding-top: 10px;
}

.form-grp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-contrl {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgb(110, 109, 109);
  padding: 0 20px;
}
.form-grp img{
  position:absolute; 
  margin-left:  50vh; ;
  margin-top: 4px;

}
.btn {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 34px;
  border: none;
  background: #1482f8ee;
  box-shadow: 2px 2px 2px rgba(32, 29, 29, 0.615);
  cursor: pointer;
  font-size: 16px;
  padding-right: 25px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  transition: .4s;
 margin-top: 11%;
}

.btn:hover {
  opacity: .6;
}
.log_details div {
  font-size: 14px;
  margin-top: 30px;
}

.log_details a {
 
  color: #007bff;
  text-decoration:none;
}
.log_details  a:hover {
  text-decoration:underline;
  color: rgb(90, 7, 255);
}
/*.pass
{
  margin-top: 20px;
  padding-left: 120px;
}
.sign{
  margin-top: 10px;
  padding-left: 80px;
}*/

/* Responsive for safety */
@media (max-width:980px){

.main{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
   display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
  .main .scc1{
    display:block;
    
  }

  
 .main .right-side {
    display: block;
    width: 90%;
    padding: 10px;
    display: block;
    flex-direction: column;
    align-items: center;
    
  }

  .scc1 p,
  .div1 {
    margin-left: 0;
  }

  .logo {
    margin-left: 0;
  }

  #head1,
  #head2 {
    margin-left: 0;
    text-align: center;
  }
}
/*****************************************************************************************************/
